.card-custom {
    text-align: center;
    margin: 20px auto;
}

.card-body-custom {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-title-custom {
    font-weight: 300 !important;
}

.answerButton {
    width: 50%;
    margin: 10px 20px 10px 0;
    padding: 5px 2px;
}

.answerButton:hover {
    cursor: pointer;
}

.answerBbutton:disabled:hover {
    cursor: default;
}

.hidden {
    visibility: hidden;
    display: none;
}

.alert-success-custom, .alert-danger-custom {
    width: 70%;
    margin: auto;
}