.hidden {
    visibility: hidden;
    display: none;
}

.hidden-info-button {
    display: flex;
    flex-direction: column;
}

#score {
    margin-top: 40px;
    text-align: center;
    color: #FFF;
    padding-bottom: 20px;
}

.answerButton {
    border: 1px solid #FFF;
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    position: relative;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: background 600ms ease, color 600ms ease;
    transition: background 600ms ease, color 600ms ease;
    margin-right: 8px;
}

.continueButton {
    background: #0A0839;
    color: #FFF;
    cursor: pointer;
    border: none;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 10px;
}

.fadedButton {
    opacity: 0.6;
}

.correctAnswer {
    color: #0A0839 !important;
    font-weight: bold;
    border: 1px solid #44DBA4;
    background-color: #44DBA4 !important;

}

#quiz {
    background-color: #0A0839;
    color: #FFF;
    padding-top: 20px;
}

input[type="radio"].toggle {
    display: none;
}

input[type="radio"].toggle + label {
    cursor: pointer;
    min-width: 80px;
    color: #FFF;
}

input[type="radio"].toggle + label:hover {
    background-color: #0A0839;
    color: #FFF;
}

input[type="radio"].toggle + label[disabled] {
    background-color: #0A0839;
    color: #FFF;
    cursor: default;
}

input[type="radio"].toggle:checked + label {
    background: #FFF;
    cursor: default;
    color: #0A0839;
    font-weight: bold;
}

input[type="radio"].toggle:checked + label:after {
    left: 0;
}

.upform {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 80%;
    margin: auto;
    margin-bottom: 500px;
}

.upform .upform-main .input-block {
    padding: 30px;
    opacity: 0.25;
    cursor: default;
}

.upform .upform-main .input-block .label {
    display: block;
    font-size: 25px;
    line-height: 30px;
}

.upform .upform-main .input-block .input-control {
    margin: 20px 0;
}

.upform .upform-main .input-block .input-control input[type=text] {
    border: none;
    outline-width: 0;
    border-bottom: 2px solid #CCC;
    width: 100%;
    font-size: 35px;
    padding-bottom: 10px;
}

.upform .upform-main .input-block.active {
    opacity: 1;
}

.upform .upform-footer {
    margin-top: 60px;
}

.upform .upform-footer .btn {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 20px;
}

.upform-header {
    text-align: center;
    font-size: 35px;
    margin: 0 0 20px 0;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
}